body {
  margin: 0;
  font-family: Arial, sans-serif;
  text-align: center;
  background: #f4f4f4;
}

header {
  background: navy;
  color: white;
  padding: 30px;
}

.hero {
  padding: 80px 20px;
}

.products {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 40px;
  flex-wrap: wrap;
}

.card {
  background: white;
  padding: 20px;
  width: 220px;
  border-radius: 8px;
}

.btn {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background: navy;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

footer {
  background: #111;
  color: white;
  padding: 20px;
}
